<h3>Not a Member</h3>
@using (Html.BeginForm("Register", "Authorize", FormMethod.Post, new { id = "signupform" }))
{
    <div class="control-group" style="margin-bottom: 0px;">
        <input class="span3" name="Username" placeholder="Username" type="text" style="width: 250px" id="Username" />
    </div>
    <div class="control-group" style="margin-bottom: 0px;">
        <input class="span3" name="Email" placeholder="E-Mail" type="text" style="width: 250px" id="Email" />
    </div>
    <div class="control-group" style="margin-bottom: 0px;">
        <input class="span3" name="Password" placeholder="Password" type="password" style="width: 250px" id="Password" />
    </div>

    <button class="btn btn-warning btn-large" type="submit" style="width: 265px"><i class="icon-signin icon-white icon-large"></i>Join Ebook Fan Zone</button>
}
<label style="text-align: center; margin-top: 5px">OR</label>
<button type="button" class="btn btn-danger btn-large" style="width: 265px" onclick="GoogleProcess();"><i class="icon-google-plus-sign icon-white icon-large"></i>Join with Google</button>
<button type="button" class="btn btn-primary btn-large" style="width: 265px" onclick="FacebookProcess();"><i class="icon-facebook-sign icon-white icon-large"></i>Join with Facebook</button>
<button type="button" class="btn btn-info btn-large" style="width: 265px" onclick="BoxCloudProcess();"><i class="icon-cloud icon-white icon-large"></i>Join with Box</button>