@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/styles")

    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/bootstrap")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Ebook Fan Zone</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="pull-right member_css">
        <button class="btn btn-large">Sign Up</button>
        <button class="btn btn-success btn-large">Join free</button>
    </div>
    <div class="container" style="clear: both;">
        <div class="hero-unit">
            <h1>Ebook Fan Zone</h1>
        </div>
        <div class="row">
            <div class="span4">
                <h2>Top 10 books</h2>
            </div>
            <div class="span4">
                <h2>Revevers</h2>
            </div>
            <div class="span4">
                <h2>Top 10 reviewers</h2>
            </div>
        </div>
    </div>

    <footer>
        <p>&#64; Ebook Fan Zone  2012</p>
    </footer>
</body>
</html>