@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    @Styles.Render("~/Content/styles")
    
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/bootstrap")
    
</head>
    <body>
        <div class="navbar navbar-fixed-top navbar-inverse">
          <div class="navbar-inner">
            <a class="brand" href="#">Ebook Fan Zone</a>
              <ul class="nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Help</a></li>
              </ul>
              
              <ul class="nav pull-right">
                  <li><a href="#">Log On</a></li>
                  <li><a href="#">Register</a></li>
              </ul>
          </div>
        </div>
        <div class="container">
            @RenderBody()
        </div>
    </body>
</html>
