@{
    ViewBag.Title = "_AdminLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administrator Account - Home Page</h1>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div class="sidebar-nav">
                <div class="well" style="padding: 8px 0;">
                    <div>
                        <img src="../../Content/images/default_user_img.png" title="User Logo" />
                    </div>
                </div>
                <div class="well" style="padding: 8px 0;">
                    <ul class="nav nav-list">
                        <li class="nav-header">Admin Menu</li>
                        <li><a href="index"><i class="icon-user-md"></i>My Account</a></li>
                        <li><a href="index"><i class="icon-home"></i>Dashboard</a></li>
                        <li><a href="#"><i class="icon-envelope"></i>Messages <span class="badge badge-info">4</span></a></li>
                        <li><a href="#"><i class="icon-comment"></i>Comments <span class="badge badge-info">10</span></a></li>
                        <li class="active"><a href="#"><i class="icon-user"></i>Members</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon-th-list"></i>Categories</a></li>
                        <li><a href="#"><i class="icon-comment"></i>Settings</a></li>
                        <li><a href="#"><i class="icon-share"></i>Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="span10">
            @RenderBody()
        </div>
    </div>
</div>
