@{
    ViewBag.Title = "_AdminLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administrator Account - Home Page</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      Menu will be here
    </div>
    <div class="span10">
      @RenderBody()
    </div>
  </div>
</div>