body
{
    /*padding-top: 60px;
    padding-right: 40px;*/
}

.member_css
{
    clear: both;
    margin-bottom: 30px;
}

.modal-header
{
    margin-bottom: 10px;
}

label.valid
{
    width: 24px;
    height: 24px;
    background: url(../Content/images/valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}

label.error
{
    color: red;
}